* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;

}

body {
  font-family: "latoregular";
  width: 100%;
  height: 100%;
  position: relative;
  /* border-bottom: 2px solid #d599b1; */
}

.top-level {
  padding-top: 30px;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 33px;
}
